body {
  background-color: whitesmoke;
  margin: 30px auto;
  max-width: 600px;
}

.App .weather-container {
  padding: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px rgb(0 0 0 / 10%);
}

.App small {
  font-size: 14px;
}

.App small a {
  text-decoration: none;
}

.App small a:hover {
  text-decoration: underline;
  color: red;
}

.Body .padding {
  padding: 10px;
  font-size: 22px;
}

.Body .margin {
  margin-right: 5px;
}

.Body h2 {
  font-size: 51px;
  font-weight: 500;
}

.Body h6,
h5 {
  font-weight: 400;
}

.Body h5 {
  font-style: italic;
  text-transform: capitalize;
}

.h5-font {
  font-size: 1.25rem;
}

.Body h1 .city-temperature {
  font-weight: 100;
  font-size: 120px;
}

.degree {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 70px;
}

.bold {
  font-weight: 600;
}

.Body ul {
  list-style: none;
  padding: 0;
}

.Body img {
  width: 50%;
}

.center {
  margin-top: 30px;
  margin-left: 220px;
}

.center .loading {
  margin-top: 30px;
  font-size: 400;
}

.Forecast {
  text-align: center;
}

.forecast-minimum-temperature {
  opacity: 0.7;
}

.degree-link {
  color: black;
  text-decoration: none;
}
